Source: zatacka
Section: games
Priority: optional
Maintainer: Alexandre Dantas <alex.dantas92@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, autoconf,
               libsdl1.2-dev, libsdl-ttf2.0-dev, libsdl-image1.2-dev,
               ttf-dejavu
Standards-Version: 3.9.5
Homepage: http://zatacka.sourceforge.net/
Vcs-Git: git://github.com/alexdantas/zatacka.debian.git
Vcs-Browser: https://github.com/alexdantas/zatacka.debian

Package: zatacka
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: arcade multiplayer game like nibbles
 This is an arcade multiplayer game for 2 - 6 players on one keyboard, clone
 of Achtung die Kurve classical dos game. You handle your line and you must
 sidetrack lines of other players and of course walls. When some player dies,
 survival gets one point. When only one player is left alive, the round is
 finished. Each game has eleven rounds.
